* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-top: 10px;
    position: relative;
    padding: 10px;
    display: flex;
}
.container img {
    width: 90%;
     position: absolute; 
     
    transition: opacity 1s ease; 
}

.anim {
    animation: moveLeft 20s linear infinite;
}

@keyframes moveLeft {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0%;
    }
}
